@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <thead>
        <th>Enrollment Date</th>
        <th>Students</th>
    </thead>
    <tbody>
        @foreach (var dateGroup in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => dateGroup.EnrollmentDate)</td>
                <td>@dateGroup.StudentCount</td>
            </tr>
        }
    </tbody>
</table>